<!DOCTYPE HTML>
<html>
	<head>
		<title>Chaakksss - Parsing jadwal kuliah SWU ke PDF</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
	</head>
	<body class="is-preload" style="min-height: 100vh;">
		<div id="wrapper">
			<header id="header" style="padding: 2em 2.5em 1em 2.5em;">
				<h1>Chaakksss</h1>
				<p style="color: #fff;margin-bottom:1rem;">Tools untuk parsing jadwal kuliah SWU ke PDF</p>
			</header>
			<div id="main">
				<div id="content" class="main" style="padding:1rem;margin-bottom: 2rem;">
					<ol style="margin: 0;margin-bottom:1rem;">
						<li>
							Buka mySWU via browser HP <b>(Chrome Android)</b>. <a href="http://www.smartone.smart-service.co.id/swu.php" target="_blank">Klik Disini.</a>
						</li>
						<li>
							Login, kemudian masuk ke menu <i>Jadwal Kuliah</i>.
						</li>
						<li>
							Tekan dan tahan, kemudian <b>Select All / Pilih Semau</b>, lalu <b>Copy / Salin</b>
						</li>
						<li>
							<b>Paste / Tempel</b> teks yang disalin ke kolom dibawah ini.
						</li>
					</ol>
					<form method="POST" style="margin:0;">
						<textarea name="content" placeholder="Paste disini beb :)" style="min-height:35vh;font-size:1rem;margin-bottom:1rem;"></textarea>
						<button type="submit" style="border: 1px solid #935d8c;background-color: white;color:#935d8c !important;border-radius:0.25rem;font-size:.95rem;font-weight: bold;">
							Proses & Download PDF
						</button>
					</form>
					<div style="font-size:1rem;">
						<div style="padding-top:1rem;">
							<a href="https://www.emsuryadi.com">Powered by www.emsuryadi.com</a> &nbsp;&bull;&nbsp; <a href="https://github.com/emsuryadi/Chaakksss">Fork me on Github</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>