<!DOCTYPE HTML>
<html>
	<head>
		<title>Chaakksss</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="is-preload" style="min-height: 100vh;">
		<div id="wrapper">
			<header id="header" style="padding: 2.5em 2.5em 1em 2.5em;">
				<h1>Chaakksss</h1>
				<p>Tools untuk parsing jadwal matkul SWU ke PDF</p>
			</header>
			<div id="main">
				<section id="content" class="main" style="padding:1rem;">
					Hallo dunia
				</section>
			</div>
		</div>
	</body>
</html>